.formContainer {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;

  width: min(100%, 310px);
  height: 380px;

  .inputFields {
    width: 100%;
    display: flex;
    flex-direction: column;

    .smallTextField {
      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-top: 1rem;

      .small {
        width: 47%;
      }
    }
    .textField + .textField {
      margin-top: 1.5rem;
    }
    span {
      font-size: 0.7rem;
      opacity: 0.8;
      padding-left: 0.8rem;
    }
  }

  .buttons {
    width: 100%;
    display: flex;
    gap: 1rem;
  }
}
