.perfilContainer {
  padding: 2.3rem 1.5rem 2.3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .perfilContent {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    width: min(100%, 310px);
    height: 380px;
  }

  .perfilHeader {
    display: flex;
    justify-content: center;
  }
  .perfilDrawer {
    width: 100%;
    margin: 3.25rem 0 3.25rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .perfilInformations {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;

    .perfilBtn {
      margin-bottom: 2rem;
    }
  }
}
