.containerSchedule {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2.5rem 1.5rem;

  .contentSchedule {
    width: 360px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .agendaDrawer {
      width: 100%;
      padding: 1.5rem 0 2rem;

      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
