.containerDaily {
  width: 100%;
  margin-top: 0.5rem;
  padding-left: 1rem;
  .tableDailySchedule {
    margin-top: 0.5rem;

    td {
      border: 1px solid black;
    }

    li {
      padding-left: 0.5rem;
      border-bottom: 1px solid black;
    }
    li + li {
      margin-bottom: 0.25rem;
    }
  }
}
